---
layout: page
title: Posts by tags
---

<div class="tagcloud">
<h1>Posts by tags</h1>
<ul class="tags">
  {% for tag in site.tags %}
    <li style="font-size: {{ tag | last | size | times: 100 | divided_by: site.tags.size | plus: 100}}%">
        <a class = "tag" href="/tag/{{ tag | first | slugize }}/">{{ tag | first }}</a>
    </li>
  {% endfor %}
</ul>
</div>

<div class="archieve">
  {% for post in site.posts %}
    {% capture month %}{{ post.date | date: '%m%Y' }}{% endcapture %}
    {% capture nmonth %}{{ post.next.date | date: '%m%Y' }}{% endcapture %}
        {% if month != nmonth %}
            {% if forloop.index != 1 %}</ul>{% endif %}
            <h3>{{ post.date | date: '%B %Y' }}</h3><ul>
        {% endif %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    <time>{{ post.date | date: "%e %B %Y" }}</time>
  {% endfor %}
</div>